body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color-main);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03;
  background-color: var(--background-color-main);
}

:root {
  --background-color-main: #e5e5e5;
  --background-color-white: #ffffff;
  --background-color-dark: #2f303a;
  --background-color-grey: #f5f4fa;
  --font-color-main: #757575;
  --font-color-black: #212121;
  --color-blue: #2196f3;
  --logo-color-black: #000000;
}

.header {
  align-items: center;
  flex-direction: row;
  height: 80 px;
  background-color: var(--background-color-white);
}

.footer {
  height: 252px;
  background-color: var(--background-color-dark);
}

.h1text {
  font-size: 44px;
  color: var(--background-color-white);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06;
  font-weight: 900;
}

.mainbutton {
  color: var(--font-color-black);
  letter-spacing: 0.06;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
}

.mainbutton:hover,
.mainbutton:focus {
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--background-color-white);
}

.buttons {
  color: var(--font-color-black);
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
}

.buttons:hover,
.buttons:focus {
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--background-color-white);
}

.h1background {
  background-color: var(--background-color-dark);
}

.maintexthead {
  color: var(--font-color-black);
  line-height: 1.17;
  font-weight: 700;
}

.maintext {
  line-height: 1.71;
}

.h2text {
  color: var(--font-color-black);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.team-member {
  color: var(--font-color-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
}

.team-member-text {
  font-size: 16px;
  line-height: 1.17;
}

.photo-title {
  color: var(--font-color-black);
  font-size: 18px;
  letter-spacing: 0.06;
  line-height: 2;
  font-weight: 700;
}
.photo-title-description {
  font-size: 16px;
  line-height: 1.86;
}

.contact {
  color: var(--font-color-main);
  letter-spacing: 0.02;
  font-weight: 500;
  line-height: 1.17;
}

.contact:hover,
.contact:focus {
  color: var(--color-blue);
}

.link {
  color: var(--font-color-black);
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.02;
  font-weight: 500;
}

.link:hover,
.link:focus {
  color: var(--color-blue);
}

.webcolor {
  color: var(--color-blue);
}

.logo {
  text-decoration: none;
  color: var(--logo-color-black);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.our-team-background {
  background-color: var(--background-color-grey);
}

.liststyle {
  list-style: none;
}
